.outer-container-first {
  margin: 0;
  padding: 0;

}

.inner-container-first {
  width: 90%;
  margin: auto;
  height: 100vh;

}

.line-break::after {
  content: '';
  float: left;
  display: block;
  width: 95%;
  height: 1px;
  background-color: gray;
  margin-top: 2vw;
}

.header-first {
  padding-top: 2vw;
  color: #FFFFFF;
  width: 7%;
  margin-top: 0;
}

.header-container-first::after {
  content: '';
  margin-top: 2vw;
  display: block;
  width: 105.5%;
  height: 1px;
  background-color: gray;
}

.text-container-first {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin-top: 8%;
  margin-left: 9vw;

}

.meet-text {
  margin-top: 0;
  color: #FFFFFF;
  font-size: 13vw;
  line-height: 0.8;
  margin-bottom: 2vw;
}

.button-text-container {
  display: flex;
  align-items: center;
}

.text-first {
  color: grey;
  font-size: 1.3vw;
  margin-left: 0.8vw;
}

.button-first {
  background-color: #FCFAF8;
  border: none;
  border-radius: 2vw;
  width: 4vw;
  height: 3vw;
  margin-left: 1vw;
  margin-top: -0.5vw;
}

.bottom-text-container-first {
  display: flex;
  align-items: center;
  width: 20%;
  margin-top: 6vw;
  margin-left: 11%;
}

.star-img {
  margin-right: 0.5vw;
}

.star-text {
  color: gray;
}

.circle {
  position: absolute;
  margin-top: 23%;
  margin-left: 32%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.circle>img {
  width: 100%;
}

.circle:hover {
  cursor: pointer;
}

.scroll-text {
  font-size: 24px;
  color: #ffffff;
}